@using CAPSTONE.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div>
    <br /><br />
    <h2>Traffic Violation Information Management with Electronic Ticketing System for Traffic Management Office-Tanauan</h2>
    <br /><br />
    <button type="button" onclick="location.href='@Url.Action("Login","Login")'" class="btn btn-primary btn-lg">LOG IN</button>
    <button type="button" onclick="location.href='@Url.Action("Register","Login")'" class="btn btn-primary btn-lg">Register</button>
</div>
