
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>About</h2>*@
<div class="about_div">
    <h3>
        Tanauan City is home to scenic nature's beauty, attractive investment opportunities, rich culture and historical heritage, superb adventure and vigoruos industrialization.
        The Natural wealth of its land and the dynamism and resourcefulness of its people pave the way to competitiveness, bringing the city to the crest of progress and advancement,
        In the midst of developement, we envision to share the exquisite and enticing places being painstakingly preserved and nurtured i the city.
        We seek to share its rich history, culture  heritage, natural attractions and th values, traits and traditions of a warm and friendly citizenry.
        Inspired by the industrious of Tanauenos, we preserve in moving the city towards attainment of its vision in sustainable agricultural, industrial, commercial and tourism development, people empowerment and well-being and good governance. We invite you to be part of a new experience, as we pursue tovether the continuous groeth and growth and progress of the city.
    </h3>
    <br />
</div>


<script type="text/javascript">
    $('li a').removeClass("active");
    $('#tg-about').addClass("active");

</script>