
@{
    ViewBag.Title = "Tanauan Violation Checker";
    Layout = "~/Views/Shared/_Index.cshtml";
}
@Styles.Render("~/Content/Custom")
<script src='https://www.google.com/recaptcha/api.js'></script>
<input type="text" class="form-control round-form" title="Please input text with this fomat ABC-12345"
       placeholder="eg. ABC-12345" style="display:none; text-align:center; margin-bottom:50px;" onchange="updateGrid()" maxlength="9">
<h1 class="instruction">Do you wish to know if plate number has current violation? Look into it. Enter plate number without spaces.</h1>
<div id="cover">
    <div id="divcover">
        <div class="tb">
            <div class="td"><input type="text" placeholder="eg.ABC-12345" required maxlength="9" id="inp_platenumber" title="Please input text with this fomat ABC-12345"></div>
            <div class="td" id="s-cover">
                <button onclick="updateGrid()">
                    <div id="s-circle"></div>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="g-recaptcha"  data-callback="recaptchaCallback" data-sitekey="6LcW8RkkAAAAAJ2ojaW57ZaYLgAdxPPtZkU_GuOh"></div>
@* https://www.google.com/recaptcha/admin/site/605678745/setup *@
<section id="no-more-tables">
    @* tbl enforcer account will be inserted here programmatically *@
</section>

<script type="text/javascript">
    var imnotarobot = false;
    function recaptchaCallback() {
        //$('#submitBtn').removeAttr('disabled');
        //alert("test");
        imnotarobot = true;
    };
    String.prototype.splice = function (idx, rem, str) {
        return this.slice(0, idx) + str + this.slice(idx + Math.abs(rem));
    };

    $(document).ready(function () {
        //updateGrid();
        var tele = document.querySelector('#inp_platenumber');

        tele.addEventListener('keyup', function (e) {
            if (event.key != 'Backspace' && (tele.value.length === 3)) {
                tele.value += '-';
                if ($("#inp_platenumber").val()[3] != "-") {
                    tele.value.splice(3, 0, "-")
                }
            }
        });
    });

    function updateGrid() {

        if (!imnotarobot) {
            alert("CAPTCHA required");
            return;
        }

        var plate = "%" + $("#inp_platenumber").val() + "%";
        console.log(plate);

        $("#myModal_reload").modal({ backdrop: 'static', keyboard: false }, 'show');
        $.ajax({
            url: "https://trafficmanagementofficetanauan.somee.com/Systems/prop_get_record_by_plateno?platenumber=" + $("#inp_platenumber").val(),
            type: "POST",
            crossDomain: true,
            dataType: "text",
            success: function (response) {
                data = someerm(response);
                var Json_Data = JSON.parse(data);
                console.log(Json_Data.length);
                var has = "NO";
                if (Json_Data.length > 0) {
                    has = "YES";
                }

                document.getElementById("no-more-tables").innerHTML = has;

                $("#myModal_reload").modal("hide");
            }, error: function (xhr, status) {
                console.log("error");
            }
        })
    }
</script>