
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<input type="text" class="form-control round-form" placeholder="Enter Plate Number Here.." style="text-align:center; margin-bottom:50px;" id="inp_platenumber" onchange="updateGrid()">

<section id="no-more-tables">
    @* tbl enforcer account will be inserted here programmatically *@
</section>

<script type="text/javascript">
    $(document).ready(function () {
        //updateGrid();
    });

    function updateGrid() {
        var plate = "%" + $("#inp_platenumber").val() + "%";
        console.log(plate);

        $("#myModal_reload").modal({ backdrop: 'static', keyboard: false }, 'show');
        $.ajax({
            url: "https://trafficmanagementofficetanauan.somee.com/Systems/prop_get_record_by_plateno?platenumber=" + $("#inp_platenumber").val(),
            type: "POST",
            crossDomain: true,
            dataType: "text",
            success: function (response) {
                data = someerm(response);
                var Json_Data = JSON.parse(data);
                console.log(Json_Data.length);
                var has = "NO";
                if (Json_Data.length > 0) {
                    has = "YES";
                }

                document.getElementById("no-more-tables").innerHTML = `<h1>`+has+`</h1>`;

                $("#myModal_reload").modal("hide");
            }, error: function (xhr, status) {
                console.log("error");
            }
        })
    }
</script>